.hero__section {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
}
.hero {
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--hero-background-color);

  background-image: linear-gradient (to right,
      var(--overlay-gradient-color),
      var(--overlay-gradient-color)),
    url(../images/hero/header_S@1X.png);

    @media (min-device-pixel-ratio: 2), 
    (min-resolution: 192dpi), 
    (min-resolution: 2dppx) {
      .hero {
        background-image: url(../images/hero/header_S@2X.png);
      }
    }

  @media screen and (min-width: 768px) {
    background-image: url(../images/hero/header_M@1X.png);

    @media (min-device-pixel-ratio: 2), 
    (min-resolution: 192dpi), 
    (min-resolution: 2dppx) {
      .hero {
        background-image: url(../images/hero/header_M@2X.png);
      }    
    }
  }

  @media screen and (min-width: 1200px) {
    background-image: url(../images/hero/header_L@1X.png);

    @media (min-device-pixel-ratio: 2), 
    (min-resolution: 192dpi), 
    (min-resolution: 2dppx) {
      .hero {
        background-image: url(../images/hero/header_L@2X.png);
      }    
    }
  }
  
}
.hero__title {
  margin: auto;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--accent-primary-color);

  @media screen and (min-width: 1200px){
    width: 696px;
    font-size: 44px;
    line-height: 1.4;
  }
}
.hero__button {
  margin-top: 30px;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--accent-primary-color);
  background-color: var(--accent-secondary-color);
  box-shadow: 0px 4px 4px var(--box-shadow);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color var(--anima-timing);

  &:hover,
  &:focus {
    background-color: var(--hero-button-accent-color);
  }
}