.section__portfolio{
    @media screen and (max-width: 1199px) {
        padding-top: 60px;
        padding-bottom: 60px;        
    }

    @media screen and (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 94px;        
    }
}
.portfolio{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.portfolio__filter{
    display: flex;
    justify-content: center;
    
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    color: var(--text-secondary-color)
}

.portfolio__grid{
    margin-right: -30px;
    margin-bottom: -30px;
}